<!doctype html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/bootstrap :: head}"></head>

<body>


<div id="siget">

    <!-- HEADER, inciio -->
    <nav th:replace="~{fragments/header :: header}"></nav>
    <!-- HEADER, fin -->

    <!--   ASIDE, INICIO-->
    <nav th:replace="~{fragments/aside :: aside}"></nav>
    <!--   ASIDE, FIN-->


    <main id="main" class="main">

        <div class="pagetitle">
            <h1><strong>Empleados</strong></h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">Gestión de usuarios</a></li>
                    <li class="breadcrumb-item active">Empleados</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div th:replace="~{fragments/mensajes :: div}"></div>
                            <div class="box-header with-border">
                                <div class="row">

                                    <div class="col-2 align-middle">
                                        <h5>
                                            <strong>Total:<span th:text="${#lists.size(empleados)}"/></strong>
                                        </h5>
                                    </div>
                                    <!--                                    <div class="col-11">-->
                                    <!--                                        <div class="input-group mb-3">-->

                                    <!--                                            <input type="text" class="form-control" placeholder="Búsqueda..."-->
                                    <!--                                                   aria-label="Búsqueda" aria-describedby="basic-addon1">-->
                                    <!--                                            <span class="input-group-text" id="basic-addon1">-->
                                    <!--                                                <i class="bi bi-search text-green-light"></i>-->
                                    <!--                                            </span>-->

                                    <!--                                        </div>-->

                                    <!--                                    </div>-->
                                    <div class="col-1 offset-9 align-middle">
                                        <a class="btn btn-link pull-right font-icon" type="button" th:href="@{'/empleado/registrar'}" >
                                            <i class="bx bxs-plus-circle text-green-light"></i>
                                        </a>
                                    </div>
                                </div>

                            </div>
                            <!-- Table with stripped rows -->
                            <table class="table table-striped bdr table-sm table-hover">
                                <thead class="bg-green-dark">
                                <tr>
                                    <th class="text-center align-middle" scope="col">#</th>
                                    <th class="text-center align-middle" scope="col">No. empleado</th>
                                    <th class="text-center align-middle" scope="col">Empleado</th>
                                    <th class="text-center align-middle" scope="col">Usuario</th>
                                    <th class="text-center align-middle" scope="col">Estatus</th>
                                    <th class="text-center" scope="col">Acciones</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:if="${#lists.isEmpty(empleados)}">
                                    <td class="text-center fst-italic" colspan="6">
                                        Sin registros disponibles.
                                    </td>
                                </tr>
                                <tr th:each="empleado, iter: ${empleados}">
                                    <td class="text-center align-middle" th:text="${iter.index+1}"/>
                                    <td class="text-center align-middle" th:text="${empleado.numeroEmpleado}"/>
                                    <td class="text-center align-middle" th:text="${empleado.persona.nombreCompleto}"/>
                                    <td class="text-center align-middle" th:text="${empleado.persona.usuario.username}"/>
                                    <td class="text-center align-middle">

                                        <span th:if="${empleado.persona.usuario.enabled == 1}">
                                            <i class="bi bi-circle-fill text-success"></i>
                                        </span>
                                        <span th:if="${empleado.persona.usuario.enabled != 1}">
                                            <i class="bi bi-circle-fill text-danger"></i>
                                        </span>
                                    </td>
                                    <td class="text-center">
                                        <a class="btn btn-link" type="button" th:href="@{/empleado/editar/{id} (id=${empleado.id})}">
                                            <i class="bi bi-pencil text-warning"></i>
                                        </a>
                                        <a class="btn btn-link boton-estatus" type="button"
                                           th:href="@{/empleado/actualizarEstatus/{id} (id=${empleado.id})}">
                                            <i class="bi bi-trash text-danger"></i>
                                        </a>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                            <!-- End Table with stripped rows -->
                        </div>
                    </div>

                </div>
            </div>

        </section>

    </main>


</div>

<div th:replace="~{fragments/scrypt :: div}"></div>

<script type="text/javascript">
    var botones = document.getElementsByClassName('boton-estatus');
    function confirmarEliminacion(e){
        if(!confirm("¿Desea cambiar el estatus del registro?")){
            e.preventDefault();
        }
    }

    for (var i = 0, l = botones.length; i < l; i++) {
        botones[i].addEventListener('click', confirmarEliminacion, false);
    }
</script>

</body>
</html>