<!doctype html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/bootstrap :: head}"></head>

<body>
<div id="siget">

    <!-- HEADER, inciio -->
    <nav th:replace="~{fragments/header :: header}"></nav>
    <!-- HEADER, fin -->

    <!--   ASIDE, INICIO-->
    <nav th:replace="~{fragments/aside :: aside}"></nav>
    <!--   ASIDE, FIN-->


    <main id="main" class="main">

        <div class="pagetitle">
            <h1><strong>Horario de atención</strong></h1>
        </div><!-- End Page Title -->

        <section class="section">
            <div class="row">
                <div class="col-lg-12">

                    <div class="card">
                        <div class="card-body">
                            <div th:replace="~{fragments/mensajes :: div}"></div>
                            <div class="box-header with-border">
                                <div class="row mt-4">
                                    <form th:action="@{/horario/registrar}" method="post">
                                    <div class="col-3 text-center fs-4">
                                        <label style="margin-bottom: 5px ">Días</label>
                                        <select class="form-select" id="dia" name="dia"
                                                aria-label="Default select example"
                                                required>
                                            <option selected="" disabled="" value="">Seleccione...</option>
                                            <option th:each="itemDia, iter: ${dias}"
                                                    th:value="${itemDia.id}" th:text="${itemDia.nombre}">
                                            </option>
                                        </select>

                                    </div>

                                    <div class="col-4 text-center fs-4">
                                        <label style="margin-bottom: 5px " for="horaInicio">Inicio</label>
                                        <select class="form-select" id="horaInicio" name="horaInicio"
                                                aria-label="Default select example"
                                                required>
                                            <option selected="" disabled="" value="">Seleccione...</option>
                                            <option th:each="itemHoraInicio, iter: ${horasInicio}"
                                                    th:value="${itemHoraInicio}"
                                                    th:text="${#dates.format(itemHoraInicio, 'HH:mm')}">
                                            </option>
                                        </select>
                                    </div>


                                    <div class="col-3 text-center fs-4">
                                        <label style="margin-bottom: 5px " for="horaFin">Fin</label>
                                        <select class="form-select" id="horaFin" name="horaFin"
                                                aria-label="Default select example"
                                                required>
                                            <option selected="" disabled="" value="">Seleccione...</option>
                                            <option th:each="itemHoraFin, iter: ${horasFin}"
                                                    th:value="${itemHoraFin}"
                                                    th:text="${#dates.format(itemHoraFin, 'HH:mm')}">
                                            </option>
                                        </select>

                                    </div>

                                    <div class="col-1 ">

                                        <button class="btn btn-link pull-right font-icon" type="submit"
                                                tooltip-animation="false" uib-tooltip="Nuevo"
                                                tooltip-placement="top"
                                        >
                                            <i class="bx bxs-plus-circle text-green-light"></i>
                                        </button>

                                    </div>
                                    </form>
                                </div>
                            </div>

                            <br>
                            <br>

                            <table class="table table-striped bdr" id="tabla">
                                <thead class="bg-green-dark">
                                <tr>
                                    <th class="text-center" scope="col">#</th>
                                    <th class="text-center" scope="col">Días de atención</th>
                                    <th class="text-center" scope="col">Hora Inicio</th>
                                    <th class="text-center" scope="col">Hora Fin</th>
                                    <th class="text-center" scope="col">Acciones</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr th:each="horario, iter: ${horarios}">
                                 <td class="text-center align-middle" th:text="${iter.index+1}"/>
                                    <td class="text-center align-middle" th:text="${horario.dia.nombre}"/>
                                    <td class="text-center align-middle"
                                        th:text="${#dates.format(horario.horaInicio, 'HH:mm')}"/>
                                    <td class="text-center align-middle"
                                        th:text="${#dates.format(horario.horaFin, 'HH:mm')}"/>
                                    <td class="text-center">

                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <!-- End Table with stripped rows -->


                        </div>
                    </div>

                </div>
            </div>

        </section>

    </main>


</div>

<div th:replace="~{fragments/scrypt :: div}"></div>
<script th:src="@{/assets/js/horario.js}"></script>
</body>
</html>