<!doctype html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/bootstrap :: head}"></head>

<body>


<div id="siget">

    <!-- HEADER, inciio -->
    <nav th:replace="~{fragments/header :: header}"></nav>
    <!-- HEADER, fin -->

    <!--   ASIDE, INICIO-->
    <nav th:replace="~{fragments/aside :: aside}"></nav>
    <!--   ASIDE, FIN-->
    <main>

        <div class="container">

            <section class="min-vh-100 d-flex flex-column align-items-center justify-content-center">
                <img alt="" id="fondo" src="assets/img/bienvenido.png" style="float: right; margin: 20px 0 0 20px; width: 80%; max-width: 100%;">

            </section>

        </div>
    </main>

</div>

<div th:replace="~{fragments/scrypt :: div}"></div>

</body>
</html>