<!doctype html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/bootstrap :: head}"></head>

<body>


<div id="siget">

    <!-- HEADER, inciio -->
    <nav th:replace="~{fragments/header :: header}"></nav>
    <!-- HEADER, fin -->

    <!--   ASIDE, INICIO-->
    <nav th:replace="~{fragments/aside :: aside}"></nav>
    <!--   ASIDE, FIN-->



    <main id="main" class="main">

        <div class="pagetitle">
            <h1><strong>Alumnos</strong></h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">Gestión de usuarios</a></li>
                    <li class="breadcrumb-item active">Alumnos</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section">
            <div class="row">
                <div class="col-lg-12">

                    <div class="card">
                        <div class="card-body">
                            <div class="box-header with-border">
                                <div class="row mt-4">

                                    <div class="col-11">
                                        <div class="input-group mb-3">

                                            <input type="text" class="form-control" placeholder="Búsqueda..."
                                                   aria-label="Búsqueda" aria-describedby="basic-addon1">
                                            <span class="input-group-text" id="basic-addon1">
                                                <i class="bi bi-search text-green-light"></i>
                                            </span>

                                        </div>

                                    </div>
                                    <div class="col-1 ">
                                        <button class="btn btn-link pull-right font-icon" type="button"
                                                tooltip-animation="false" uib-tooltip="Nuevo" tooltip-placement="top"
                                                ng-click="ctr.cambiarAccion(1)" ng-show="ctr.verAccion(0)">
                                            <i class="bx bxs-plus-circle text-green-light"></i>
                                        </button>

                                    </div>
                                </div>

                            </div>
                            <!-- Table with stripped rows -->
                            <table class="table table-striped bdr">
                                <thead class="bg-green-dark">
                                <tr>
                                    <th class="text-center" scope="col">#</th>
                                    <th class="text-center" scope="col">Usuario</th>
                                    <th class="text-center" scope="col">Rol</th>
                                    <th class="text-center" scope="col">Estatus</th>
                                    <th class="text-center" scope="col">Acciones</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td class="text-center">Brandon Jacob</td>
                                    <td class="text-center">Designer</td>
                                    <td class="text-center">28</td>
                                    <td class="text-center">2016-05-25</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td class="text-center">Bridie Kessler</td>
                                    <td class="text-center">Developer</td>
                                    <td class="text-center">35</td>
                                    <td class="text-center">2014-12-05</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td class="text-center">Ashleigh Langosh</td>
                                    <td class="text-center">Finance</td>
                                    <td class="text-center">45</td>
                                    <td class="text-center">2011-08-12</td>
                                </tr>
                                <tr>
                                    <th scope="row">4</th>
                                    <td class="text-center">Angus Grady</td>
                                    <td class="text-center">HR</td>
                                    <td class="text-center">34</td>
                                    <td class="text-center">2012-06-11</td>
                                </tr>
                                <tr>
                                    <th scope="row">5</th>
                                    <td class="text-center">Raheem Lehner</td>
                                    <td class="text-center">Dynamic Division Officer</td>
                                    <td class="text-center">47</td>
                                    <td class="text-center">2011-04-19</td>
                                </tr>
                                </tbody>
                            </table>
                            <!-- End Table with stripped rows -->
                        </div>
                    </div>

                </div>
            </div>

        </section>

    </main>



</div>

<div th:replace="~{fragments/scrypt :: div}"></div>

</body>
</html>