<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragments/bootstrap :: head}"></head>
  <body>
    <main class="fondo-login">
    <div class="container">

      <section
              class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">


              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h4 class="card-title text-center pb-0 fs-4">SIGET</h4>
                    <p class="text-center small">Ingresa tu correo electrónico asociado a tu cuenta</p>
                  </div>

                  <div th:if="${param.error}">
                    <div class="alert alert-danger">Correo electrónico no valido.</div>
                  </div>

                  <form class="row g-3 needs-validation" novalidate method="post" role="form"
                        th:action="@{'/recuperar-contrasena/enviar-codigo'}">

                    <div class="col-12">
                      <label for="yourUsername" class="form-label">Correo Electrónico</label>
                      <div class="input-group has-validation">
                        <input type="email" name="username" class="form-control"
                               id="yourUsername" required>
                        <div class="invalid-feedback">El campo es requerido.</div>
                      </div>
                    </div>


                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Enviar</button>
                    </div>

                  </form>

                </div>
              </div>

            </div>
          </div>
        </div>

      </section>

    </div>
  </main>
  </body>
</html>