<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar nav-bg-blue l-navbar">


    <img th:src="@{/assets/img/logo_utez.png}" alt="" width="165px"/>

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-heading">Menú</li>
        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{'/'}">
                <i class="bi bi-grid"></i>
                <span>Inicio</span>
            </a>
        </li>


        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{'/cita/registrar'}">
                <i class="bx bxs-calendar-plus"></i>
                <span>Solicitud de cita</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{'/cita/historial'}">
                <i class="bx bxs-calendar-plus"></i>
                <span>Historial de citas</span>
            </a>
        </li>

    </ul>

</aside>
<!-- End Sidebar-->