<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar nav-bg-blue l-navbar">

    <!-- <li class="nav-item"> -->
    <img th:src="@{/assets/img/logo_utez.png}" alt="" width="165px"/>
    <!-- </li> -->
    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-heading">Menú</li>


        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{'/'}">
                <i class="bi bi-grid"></i>
                <span>Inicio</span>
            </a>
        </li>


        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{'/empleado'}">
                <i class="bx bxs-user"></i>
                <span>Empleados</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{'/alumno'}">
                <i class="bx bxs-graduation"></i>
                <span>Alumnos</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{'/servicio'}">
                <i class="bx bxs-file"></i>
                <span>Servicios</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="users-profile.html">
                <i class="bx bxs-calendar"></i>
                <span>Citas</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-journal-text"></i><span>Administración&nbsp;&nbsp;</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="forms-elements.html">
                        <i class="bi bi-circle"></i><span>Trámites</span>
                    </a>
                </li>
            </ul>
        </li>


    </ul>

</aside>
<!-- End Sidebar-->