<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar nav-bg-blue l-navbar">

    <!-- <li class="nav-item"> -->
    <img src="assets/img/logo_utez.png" alt="" width="165px"/>
    <!-- </li> -->
    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-heading">Menú</li>


        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{'/'}">
                <i class="bi bi-grid"></i>
                <span>Inicio</span>
            </a>
        </li>


        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{'/empleado'}" >
                <i class="bx bxs-user"></i>
                <span>Empleados</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="users-profile.html">
                <i class="bx bxs-graduation"></i>
                <span>Alumnos</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="users-profile.html">
                <i class="bx bxs-file"></i>
                <span>Servicios</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="users-profile.html">
                <i class="bx bxs-calendar"></i>
                <span>Citas</span>
            </a>
        </li>


    </ul>

</aside>
<!-- End Sidebar-->