<!doctype html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/bootstrap :: head}"></head>

<body>


<div id="siget">

    <!-- HEADER, inciio -->
    <nav th:replace="~{fragments/header :: header}"></nav>
    <!-- HEADER, fin -->

    <!--   ASIDE, INICIO-->
    <nav th:replace="~{fragments/aside_citas :: aside}"></nav>
    <!--   ASIDE, FIN-->



    <main id="main" class="main">

        <div class="pagetitle">
            <h1><strong>Empleado Inicio Prueba</strong></h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">Gestión de usuarios</a></li>
                    <li class="breadcrumb-item active">Alumnos</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section">
            <div class="row">
            </div>

        </section>

    </main>



</div>

<div th:replace="~{fragments/scrypt :: div}"></div>

</body>
</html>