<div href="tramite">
    <form action="#">
        <div class="page slide-page">
            <div class="field">
                <div class="label">Nombre Tramite</div>
                <input type="text" class="form-control">
            </div>
            <div class="field">
                <div class="label">Costo</div>
                <input type="text" class="form-control">
            </div>
            <div class="field">
                <div class="label">Descripcion</div>
                <input type="text" class="form-control">
            </div>
            <div class="field">
                <div class="label">Descripcion de documentos</div>
                <input type="text" class="form-control">
            </div>
         
        </div>
    </form>
</div>