<div class="container">

<div class="page">
  <form action="#">
    <div class="row">
      <div class="col-12 col-md-8 col-lg-6 mx-auto">

      <div class="title">Documnetos anexos</div>

        <div class="row mb-3">
          <label class="col-sm-2 col-form-label">Copia curp</label>
          <div class="col-sm-10">
            <input class="form-control" type="file" id="formFile">
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-2 col-form-label">Copia ine</label>
          <div class="col-sm-10">
            <input class="form-control" type="file" id="archivo">
          </div>
        </div>
      </div>
      </div>
        </form>
      </div>
</div>