<div style="width: auto; background: #fff;  border-radius: 5px; padding: 50px 35px 10px 35px;" >
  <header style="font-size: 35px;font-weight: 600;margin: 0 0 30px 0;">Registra cita</header>

  <div style="display: flex; margin: 40px 0; user-select: none" href="seccionUno">
    <div style="text-align: center; width: 100%; position: relative">
      <p style="font-weight: 500;font-size: 18px;color: #1a9e00;margin-bottom: 8px;">Escoje tramite</p>
      <div
              style="height: 25px; width: 25px; border: 2px solid #1a9e00; display: inline-block; border-radius: 50px; position: relative; transition: 1.2s; font-weight: 500; font-size: 17px; line-height: 25px">
        <span style="position: absolute;left: 50%;transform: translateX(-50%);">1</span>
      </div>
      <div class="check fas fa-check"></div>
    </div>

    <div style="text-align: center; width: 100%; position: relative" href="seccionDos">
      <p style="font-weight: 500;font-size: 18px;color: #1a9e00;margin-bottom: 8px;">Escoje la fecha</p>
      <div
              style="height: 25px; width: 25px; border: 2px solid #1a9e00; display: inline-block; border-radius: 50px; position: relative; transition: 0.2s; font-weight: 500; font-size: 17px; line-height: 25px">
        <span style="position: absolute;left: 50%;transform: translateX(-50%);">2</span>
      </div>
      <div class="check fas fa-check"></div>
    </div>

    <div style="text-align: center; width: 100%; position: relative">
      <p style="font-weight: 500;font-size: 18px;color: #1a9e00;margin-bottom: 8px;">Pagar</p>
      <div
              style="height: 25px; width: 25px; border: 2px solid #1a9e00; display: inline-block; border-radius: 50px; position: relative; transition: 0.2s; font-weight: 500; font-size: 17px; line-height: 25px">
        <span style="position: absolute;left: 50%;transform: translateX(-50%);">3</span>
      </div>
      <div class="check fas fa-check"></div>
    </div>

    <div style="text-align: center; width: 100%; position: relative">
      <p style="font-weight: 500;font-size: 18px;color: #000;margin-bottom: 8px;">Documentos</p>
      <div
              style="height: 25px; width: 25px; border: 2px solid #000; display: inline-block; border-radius: 50px; position: relative; transition: 0.2s; font-weight: 500; font-size: 17px; line-height: 25px">
        <span style="position: absolute;left: 50%;transform: translateX(-50%);">4</span>
      </div>
      <div class="check fas fa-check"></div>
    </div>
  </div>

  <div class="form-outer">
  </div>
</div>