<!doctype html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/bootstrap :: head}"></head>

<body>


<div id="siget">

    <!-- HEADER, inciio -->
    <nav th:replace="~{fragments/header :: header}"></nav>
    <!-- HEADER, fin -->

    <!--   ASIDE, INICIO-->
    <nav th:replace="~{fragments/aside :: aside}"></nav>
    <!--   ASIDE, FIN-->


    <main id="main" class="main">

        <div class="pagetitle">
            <h1><strong>Registrar servicios</strong></h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">Gestión de servicios</a></li>
                    <li class="breadcrumb-item active">Servicios</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div th:replace="~{fragments/mensajes :: div}"></div>
                        <div class="card-body">

                            <!-- Custom Styled Validation -->

                            <form class="row g-3 needs-validation mt-2" method="POST" th:object="${servicio}"
                                  th:action="@{'/servicio/guardar'}">
                                <h5><strong>Información</strong></h5>
                                <hr/>
                                <div class="row mb-4 mt-2">
                                    <input type="hidden" th:field="*{id}" th:value="*{id}" />

                                    <div class="col-md-4">
                                        <label for="nombre" class="form-label">Nombre*</label>
                                        <div class="input-group has-validation">
                                            <input type="text" class="form-control" aria-describedby="inputGroupPrepend"
                                                   placeholder="Ingrese..." pattern="[a-zA-Z ]+"
                                                   autocomplete="off" aria-autocomplete="none"
                                                   id="nombre" name="servicio.nombre"
                                                   th:field="*{nombre}" th:value="*{nombre}"
                                                   th:maxlength="45"
                                                   th:required="true"/>
                                            <div class="invalid-feedback">
                                                Ingrese un valor valido.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="descripcion" class="form-label">Descripción*</label>
                                        <div class="input-group has-validation">
                                            <input type="text" class="form-control" aria-describedby="inputGroupPrepend"
                                                   placeholder="Ingrese..." pattern="[a-zA-Z ]+"
                                                   autocomplete="off" aria-autocomplete="none"
                                                   id="descripcion" name="servicio.descripcion"
                                                   th:field="*{descripcion}" th:value="*{descripcion}"
                                                   th:maxlength="45"
                                                   th:required="true"/>
                                            <div class="invalid-feedback">a
                                                Ingrese un valor valido.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="costo" class="form-label">Costo</label>
                                        <div class="input-group has-validation">
                                            <input type="number" class="form-control" aria-describedby="inputGroupPrepend"
                                                   placeholder="Ingrese..." pattern="[a-zA-Z ]+"
                                                   autocomplete="off" aria-autocomplete="none"
                                                   id="costo" name="servicio.costo"
                                                   th:field="*{costo}" th:value="*{costo}"
                                                   th:maxlength="45"/>
                                            <div class="invalid-feedback">
                                                Ingrese un valor valido.
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-6 offset-md-3">
                                    <label for="tipoServicio" class="form-label">Tipo de servicio*</label>
                                    <div class="input-group has-validation">
                                         <select th:field="*{tipoServicio.id}" id="tipoServicio">
                                            <option th:each="tipoServicioTmp : ${tipoServicio}"
                                                th:value="${tipoServicioTmp.id}"
                                                th:text="${tipoServicioTmp.nombre}"
                                            />
                                        </select>

                                        <div class="invalid-feedback">
                                            Ingrese un valor valido.
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 ">
                                    <div class="input-group has-validation">
                                        <input type="hidden"  class="form-control"
                                               aria-describedby="inputGroupPrepend"
                                               autocomplete="off" aria-autocomplete="none"
                                               placeholder="Ingrese..."
                                               id="estatus" name="estatus"
                                               th:field="*{estatus}" th:value="*{getEstatus()}"
                                               th:maxlength="255"
                                               th:required="true"/>
                                        <div class="invalid-feedback">
                                            Ingrese un valor valido.
                                        </div>
                                    </div>
                                </div>

                                <div class="row align-items-center">
                                    <div class="col-md-4 offset-md-4 center-block" align="center">
                                        <a class="btn btn-outline-danger mx-4 " th:href="@{'/servicio'}"
                                           type="button">
                                            <i class="bi bi bi-backspace"></i> Volver
                                        </a>
                                        <button class="btn btn-success" type="submit">
                                            Guardar <i class="bi bi-check-circle"></i>
                                        </button>
                                    </div>
                                </div>
                            </form><!-- End Custom Styled Validation -->

                        </div>
                    </div>

                </div>

            </div>

        </section>

    </main>


</div>

<div th:replace="~{fragments/scrypt :: div}"></div>

</body>
</html>