<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/bootstrap :: head}"></head>

<body>
        <main class="fondo-login">
        <div class="container">

            <section
                class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-12 col-md-6 d-flex flex-column align-items-center justify-content-center">


                            <div class="card mb-12">

                                <div class="card-body">

                                    <div class="pt-4 pb-2">
                                        <h4 class="card-title text-center pb-0 fs-4">Registrar Alumno</h4>
                                        <p class="text-center small">Ingresa los datos solicitados.</p>
                                    </div>

                                    <form class="row g-3 needs-validation mt-2" method="POST" th:object="${alumno}"
                                        th:action="@{'/alumno/guardar'}">

                                        <h5><strong>Información personal </strong></h5>
                                        <hr />

                                        <div class="row mb-6 ">
                                            <input type="hidden" th:field="*{id}" th:value="*{id}" />

                                            <div class="col-md-4">
                                                <label for="nombre" class="form-label">Nombre*</label>
                                                <div class="input-group has-validation">
                                                    <input type="text" class="form-control"
                                                        aria-describedby="inputGroupPrepend" placeholder="Ingrese..."
                                                        pattern="[a-zA-Z ]+" autocomplete="off" aria-autocomplete="none"
                                                        id="nombre" name="persona.nombre" th:field="*{persona.nombre}"
                                                        th:value="*{persona.nombre}" th:maxlength="45"
                                                        th:required="true" />
                                                    <div class="invalid-feedback">
                                                        Ingrese un valor valido.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label for="primerApellido" class="form-label">Primer apellido*</label>
                                                <div class="input-group has-validation">
                                                    <input type="text" class="form-control"
                                                        aria-describedby="inputGroupPrepend" placeholder="Ingrese..."
                                                        pattern="[a-zA-Z ]+" autocomplete="off" aria-autocomplete="none"
                                                        id="primerApellido" name="persona.primerApellido"
                                                        th:field="*{persona.primerApellido}"
                                                        th:value="*{persona.primerApellido}" th:maxlength="45"
                                                        th:required="true" />
                                                    <div class="invalid-feedback">
                                                        Ingrese un valor valido.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label for="segundoApellido" class="form-label">Segundo
                                                    apellido(opcional)</label>
                                                <div class="input-group has-validation">
                                                    <input type="text" class="form-control"
                                                        aria-describedby="inputGroupPrepend" placeholder="Ingrese..."
                                                        pattern="[a-zA-Z ]+" autocomplete="off" aria-autocomplete="none"
                                                        id="segundoApellido" name="persona.segundoApellido"
                                                        th:field="*{persona.segundoApellido}"
                                                        th:value="*{persona.segundoApellido}" th:maxlength="45" />
                                                    <div class="invalid-feedback">
                                                        Ingrese un valor valido.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <h5><strong>Información Académica </strong></h5>
                                        <hr />
                                        
                                        <div class="row mb-12 mt-2">
                                             <!-- offset-md-3 -->
                                            <div class="col-md-3 "> 
                                                <label for="matricula" class="form-label">No. matricula*</label>
                                                <div class="input-group has-validation">
                                                    <input type="text" class="form-control"
                                                        aria-describedby="inputGroupPrepend" autocomplete="off"
                                                        aria-autocomplete="none" placeholder="Ingrese..." id="matricula"
                                                        name="matricula" th:field="*{matricula}" th:value="*{matricula}"
                                                        th:maxlength="20" th:required="true" />
                                                    <div class="invalid-feedback">
                                                        Ingrese un valor valido.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 ">
                                                <label for="username" class="form-label">Correo electrónico*</label>
                                                <div class="input-group has-validation">
                                                    <input type="email" class="form-control"
                                                        aria-describedby="inputGroupPrepend" autocomplete="off"
                                                        aria-autocomplete="none" placeholder="Ingrese..." id="username"
                                                        name="persona.usuario.username"
                                                        th:field="*{persona.usuario.username}"
                                                        th:value="*{persona.usuario.username}" th:maxlength="255"
                                                        th:required="true" />
                                                    <div class="invalid-feedback">
                                                        Ingrese un valor valido.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row mb-4 mt-2">
                                            <!-- offset-md-3 -->
                                            <div class="col-md-3 mt-2 ">
                                                <label for="password" class="form-label">Contraseña*</label>
                                                <div class="input-group has-validation">
                                                    <input type="password" class="form-control"
                                                        aria-describedby="inputGroupPrepend" autocomplete="off"
                                                        aria-autocomplete="none" placeholder="Ingrese..." id="password"
                                                        name="persona.usuario.password"
                                                        th:field="*{persona.usuario.password}"
                                                        th:value="*{persona.usuario.password}" th:maxlength="255"
                                                        th:required="true" />
                                                    <div class="invalid-feedback">
                                                        Ingrese un valor valido.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row align-items-center">
                                                <div class="col-md-4 offset-md-4 center-block" align="center">
                                                    <a class="btn btn-outline-danger mx-4 " th:href="@{'/alumno'}"
                                                        type="button">
                                                        <i class="bi bi bi-backspace"></i> Volver
                                                    </a>
                                                    <button class="btn btn-success" type="submit">
                                                        Registrar <i class="bi bi-check-circle"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>


                                </form>
                            </div>
                        </div>

                    </div>
                </div>
        </div>

        </section>

        </div>
    </main><!-- End #main -->

    <div th:replace="~{fragments/scrypt :: div}"></div>

    <script crossorigin="anonymous" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>