<!doctype html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/bootstrap :: head}"></head>

<body>


<div id="siget">

    <!-- HEADER, inciio -->
    <nav th:replace="~{fragments/header :: header}"></nav>
    <!-- HEADER, fin -->

    <!--   ASIDE, INICIO-->
    <nav th:replace="~{fragments/aside :: aside}"></nav>
    <!--   ASIDE, FIN-->


    <main id="main" class="main">

        <div class="pagetitle">
            <h1><strong>Registrar cita</strong></h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">Registro de cita</a></li>
                    <li class="breadcrumb-item active">Formulario de solicitud</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div th:replace="~{fragments/mensajes :: div}"></div>
                        <div class="card-body">


                            <!-- Custom Styled Validation -->

                            <form action="#" class="row g-3 needs-validation mt-2" method="POST" th:object="${cita}">
                                <div class="progress mt-3">
                                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                                         style="width: 0%"
                                         aria-valuenow="0%"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <hr/>
                                <h5><strong>Información de trámite </strong></h5>
                                <div class="row mb-4 mt-2 align-middle  justify-content-center">
                                    <div class="col-6 justify-content-center">
                                        <label for="servicio" class="form-label">Trámite*</label>
                                        <div class="input-group has-validation">
                                            <select class="form-select" data-live-search="true" id="servicio"
                                                    name="servicio"
                                                    th:value="*{servicio.id}"
                                                    required>
                                                <option selected="" disabled="" value="">Seleccione...</option>
                                                <option th:each="item, iter: ${servicios}"
                                                        th:value="${item.id}" th:text="${item.nombre}">
                                                </option>
                                            </select>
                                            <div class="invalid-feedback">
                                                Ingrese un valor valido.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-4 mt-2  align-middle d-flex justify-content-center"
                                     id="informacionServicio">

                                </div>
                                <hr/>
                                <h5><strong>Información de cita </strong></h5>
                                <div class="row mb-4 mt-2 d-flex align-middle justify-content-center">
                                    <div class="col-3 justify-content-center" id="divCalendario">
                                        <label for="fechaCita" class="form-label">Fecha de cita*</label>
                                        <div class="input-group has-validation">
                                            <input type="text" id="fechaCita" class="form-control"
                                                   aria-describedby="inputGroupPrepend"
                                                   placeholder="Seleccione..."
                                                   autocomplete="off" aria-autocomplete="none"
                                                   name="fechaCita"
                                                   th:required="true"/>
                                            <div class="invalid-feedback">
                                                Ingrese un valor valido.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3 justify-content-center" id="divReloj">
                                        <label for="horaInicio" class="form-label">Hora de atención*</label>
                                        <div class="input-group has-validation">
                                            <input type="text" class="form-control"
                                                   aria-describedby="inputGroupPrepend"
                                                   placeholder="Seleccione..."
                                                   autocomplete="off" aria-autocomplete="none"
                                                   id="horaInicio"
                                                   name="horaInicio"
                                                   th:required="true"/>
                                            <div class="invalid-feedback">
                                                Ingrese un valor valido.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr/>
                                <h5><strong>Información de pago </strong></h5>
                                <div class="row mb-4 mt-2 d-flex align-middle justify-content-center">
                                    <div class="col-4 justify-content-center" id="divPago">

                                        <div class="card info-card revenue-card"
                                             style="background-color: #0BAC87; color: white; cursor: pointer;"
                                             id="botonPagar">

                                            <div class="card-body">
                                                <h4 class="card-title text-white"><i class="bi bi-cash-coin"></i> |
                                                    Pagar con PayPal</h4>

                                                <div class="d-flex align-items-center">
                                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                                        El pago es obligatorio para realizar el trámite en ventanilla.
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-4 justify-content-center" id="divComprobante">
                                        <ul>
                                            <li>Comprobante de pago</li>
                                            <input class="form-control" required type="file" name="comprobantePago"
                                                   id="comprobantePago"/>
                                        </ul>
                                    </div>
                                </div>

                                <div class="row mb-4 mt-2 mt-4 d-flex align-middle justify-content-center">
                                    <div class="col-6 mt-4 d-flex align-middle justify-content-center">
                                        <a class="btn btn-outline-danger mx-4 " th:href="@{'/'}"
                                           type="button">
                                            <i class="bi bi-caret-left"></i> Volver
                                        </a>
                                        <button class="btn btn-success" type="submit" id="botonAgendar">
                                            Agendar <i class="bi bi-caret-right"></i>
                                        </button>
                                    </div>

                                </div>

                            </form>


                        </div>
                    </div>

                </div>
            </div>

        </section>


        <div class="modal fade" id="modalCita" tabindex="-1" role="dialog" aria-labelledby="modalCitaLabel" data-keyboard="false"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header modal-bg-blue">
                        <h5 class="modal-title text-white" id="titulo">
                        </h5>
                        <button type="button" class="btn-close text-white" data-bs-dismiss="modal"
                                aria-label="Cerrar"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-6">
                                <strong>Fecha:</strong>
                                <span id="fecha"></span>
                            </div>
                            <div class="col-6">
                                <strong>Horario:</strong>
                                <span id="horario"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <strong>Solicitud:</strong>
                                <span id="solicitud"></span>
                            </div>
                            <div class="col-6">
                                <strong>Estado:</strong>
                                <span id="estado"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <strong>Costo:</strong>
                                <span id="costo"></span>
                            </div>
                            <div class="col-6">
                                <strong>Ventanilla:</strong>
                                <span id="ventanilla"></span>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn  btn-primary" onclick="volver()" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

    </main>


</div>

<div th:replace="~{fragments/scrypt :: div}"></div>

<script>


    //Variable generales
    let idServicio = null;
    let informacionServicio = null;
    let urlPago = null;
    let fechaSeleccionada = null;
    let configuracionDatePicker = {
        weekStart: 1,
        maxViewMode: 0,
        clearBtn: false,
        language: "es",
        multidate: false,
        daysOfWeekDisabled: "0,6",
        daysOfWeekHighlighted: "1,2,3,4,5",
        todayHighlight: true,
        startDate: moment(new Date()).format('DD-MM-YYYY'),
        endDate: moment(new Date()).add('1', 'weeks').format('DD-MM-YYYY'),
    };
    let configuracionTimePicker = {
        'minTime': "07:00am",
        'maxTime': "09:00pm",
        'setTime': new Date(),
        'disableTimeRanges': [],
        // useSelect: true,
        step: 15
    };

    function mostrardivPago() {
        let costo = informacionServicio?.costo || 0;
        urlPago = null;
        if (costo > 0) {
            $("#divPago").show();
            $("#divComprobante").show();
        } else {
            $("#divPago").hide();
            $("#divComprobante").hide();
        }
    }

    function deshabilitarHorarios() {

        $("#divPago").hide();
        $("#divComprobante").hide();

        let url = URL_BACKED_SIGET + "cita/listarCitasReservacion";
        let parametros = {fechaCita: fechaSeleccionada, servicio: {id: idServicio}};

        configuracionTimePicker["disableTimeRanges"] = [];
        $('#horaInicio').timepicker(configuracionTimePicker);

        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: url,
            data: JSON.stringify(parametros),
            dataType: 'json',
            cache: false,
            success: function (citas) {
                if (citas !== null && citas !== undefined) {

                    citas = citas.map((cita) => {

                        let horaInicio = moment(cita.horaInicio);
                        let horaFin = moment(cita.horaInicio).add({minutes: 1});
                        horaInicio = horaInicio.format('HH:mm a');
                        horaFin = horaFin.format('HH:mm a');
                        return [horaInicio, horaFin];
                    });

                    configuracionTimePicker["disableTimeRanges"] = citas;
                    $('#horaInicio').timepicker(configuracionTimePicker);

                    mostrardivPago();

                }

            },
        });
    }

    function validarDisponibilidad(evento) {

        $("#divReloj").hide();
        $("#divPago").hide();
        $("#divComprobante").hide();

        fechaSeleccionada = evento?.date || fechaSeleccionada;

        if (fechaSeleccionada !== null && fechaSeleccionada !== undefined) {

            let parametros = {fechaCita: fechaSeleccionada};

            let url = URL_BACKED_SIGET + "horario/validarDisponibilidad";

            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: url,
                data: JSON.stringify(parametros),
                dataType: 'json',
                cache: false,
                success: function (data) {

                    let mensaje = data.mensaje;
                    let respuesta = data.respuesta;

                    if (respuesta === true) {
                        $("#divReloj").show();
                        deshabilitarHorarios();
                    } else {
                        $.toast({
                            heading: 'Atención',
                            text: mensaje || 'Ingrese una fecha diferente.',
                            icon: 'error',
                            position: 'top-right',
                            loaderBg: 'white',
                            class: 'larger-font',
                            stack: false
                        });
                    }
                },
            });
        }
    }


    //Mostrar información de servicio seleccionado
    function mostrarInformacionServicio() {

        //Ocultar calendario
        $("#divCalendario").hide();

        let parametros = {idServicio: idServicio};
        let url = URL_BACKED_SIGET + "servicio/obtenerInformacionServicio";

        $.post(url, parametros, function (servicio) {
            informacionServicio = servicio;

            let documentoHTML = 'Documentación no requerida.';

            if (servicio?.documentos?.length !== 0) {
                documentoHTML = servicio.documentos.map((documento) => {
                    return `<div class="col-sm-10">
                        <ul>
                            <li>${documento.nombre}</li>
                            <input class="form-control" required  type="file" name="documentoAnexo"/>
                            <input class="form-control" required value="${documento.id}"  type="hidden" name="idDocumento"/>
                        </ul>
                   </div>`;
                });
            }

            let informacionHTML = `
                <div class="row align-middle d-flex justify-content-center">
                    <div class="col-6 align-middle d-flex justify-content-center">
                        <strong>Nombre:</strong>
                        <span>${servicio.nombre}</span>
                    </div>
                    <div class="col-6 align-middle d-flex justify-content-center">
                        <strong>Descripción:</strong>
                        <span>${servicio.descripcion}</span>
                    </div>
                </div>
                <div class="row mt-4 mb-2 align-middle d-flex justify-content-center">
                    <div class="col-6 align-middle d-flex justify-content-center">
                        <strong>Documentos:</strong>
                        <span>${documentoHTML}</span>
                    </div>
                    <div class="col-6 align-middle d-flex justify-content-center">
                        <strong>Costo:</strong>
                        <span>$ ${servicio.costo}</span>
                    </div>
                </div>
            `;

            $('#informacionServicio').html(informacionHTML);

            //Mostrar calendario
            $("#divCalendario").show();
        });

    }


    // Click en botón de pago
    $("#botonPagar").click(function (e) {
        e.preventDefault();
        let url = URL_BACKED_SIGET + "cita/autorizarPago";
        let parametros = {idServicio: idServicio};
        $.post(url, parametros, function (data) {
            if (data?.respuesta === true) {
                urlPago = data.objeto
                $("#divPago").show();
                $("#divComprobante").show();
                window.open(urlPago, '_blank').focus();
            } else {
                $.toast({
                    heading: 'Atención',
                    text: mensaje || 'Error al obtener información de pago.',
                    icon: 'error',
                    position: 'top-right',
                    loaderBg: 'white',
                    class: 'larger-font',
                    stack: false
                });
            }
        });
    });


    //Selección de servicio
    $('select[id="servicio"]').change(function (event) {
        event.preventDefault();
        idServicio = $(this).val();
        mostrarInformacionServicio();
    });


    function volver() {
        window.location.href = URL_BACKED_SIGET;
    }

    var formulario = $('form');
    formulario.submit(async function (e) {
        e.preventDefault();

        $("#botonAgendar").hide();

        try {


            let formularioEnvio = new FormData();

            formularioEnvio.append("fechaCita", moment(fechaSeleccionada).format("yyyy-MM-DD"));
            formularioEnvio.append("horaInicio", moment($("#horaInicio").val(), 'HH:mm a').format("yyyy-MM-DD HH:mm"));
            formularioEnvio.append("idServicio", idServicio);


            let indice = 0;
            $("input[name='documentoAnexo']").each(function () {
                formularioEnvio.append("archivosAnexos[]", $(this)[0].files[0], $("input[name='idDocumento']")[indice].value);
                indice++;
            });

            $('form :input').each(function () {
                if ($(this).attr('type') === 'file' && this.name === 'comprobantePago') {
                    formularioEnvio.append("comprobantePago", $(this)[0].files[0]);
                }
            });

            let url = URL_BACKED_SIGET + "cita/guardar";

            try {
                const respuesta = await fetch(url, {method: 'POST', body: formularioEnvio});
                if (respuesta.status === 200) {

                    $.toast({
                        heading: 'Notificación',
                        text: 'Cita agendada correctamente.',
                        icon: 'success',
                        position: 'top-right',
                        loaderBg: 'white',
                        class: 'larger-font',
                        stack: false
                    });

                    let parametros = {id: respuesta.headers.get("idCita")};
                    let url = URL_BACKED_SIGET + "cita/obtenerInformacionCita";

                    $.ajax({
                        type: "POST",
                        contentType: "application/json",
                        url: url,
                        data: JSON.stringify(parametros),
                        dataType: 'json',
                        cache: false,
                        success:  function (cita) {
                            let modal = new bootstrap.Modal($('#modalCita'), {});

                            $('#titulo').text(cita.servicio.nombre);
                            $('#fecha').text(moment(cita.fechaCita).format('MM/DD/YYYY'));
                            $('#horario').text(moment(cita.horaInicio).format('HH:mm') + " a " + moment(cita.horaFin).format('HH:mm'));
                            $('#estado').text(cita.estado.nombre);
                            $('#costo').text(cita.servicio.costo);
                            $('#ventanilla').text(cita.ventanilla.nombre);
                            $('#solicitud').text(moment(cita.fechaRegistro).format('MM/DD/YYYY'));

                            modal.show();
                        }
                    });



                } else {
                    $.toast({
                        heading: 'Atención',
                        text: respuesta.headers.get("mensajeError") || 'La cita no pudo ser agendada.',
                        icon: 'error',
                        position: 'top-right',
                        loaderBg: 'white',
                        class: 'larger-font',
                        stack: false
                    });
                    $("#botonAgendar").show();
                }

            } catch (error) {
                $.toast({
                    heading: 'Atención',
                    text: 'Error de conexión al agendar cita.',
                    icon: 'error',
                    position: 'top-right',
                    loaderBg: 'white',
                    class: 'larger-font',
                    stack: false
                });
                $("#botonAgendar").show();
            }


        } catch (e) {
            $("#botonAgendar").show();
            console.log(e);
            $.toast({
                heading: 'Atención',
                text: 'Verifique los valores ingresados.',
                icon: 'error',
                position: 'top-right',
                loaderBg: 'white',
                class: 'larger-font',
                stack: false
            });
        }

    });

    // Funcion inicial
    $(document).ready(function () {

        // Configurar calendario y reloj
        $('#fechaCita').datepicker(configuracionDatePicker).on('clearDate', validarDisponibilidad).on('changeDate', validarDisponibilidad);
        $('#horaInicio').timepicker(configuracionTimePicker);

        //Ocultar elementor
        $("#divCalendario").hide();
        $("#divReloj").hide();
        $("#divPago").hide();
        $("#divComprobante").hide();

    });


</script>

</body>
</html>