<!doctype html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/bootstrap :: head}"></head>

<body>


<div id="siget">

    <!-- HEADER, inciio -->
    <nav th:replace="~{fragments/header :: header}"></nav>
    <!-- HEADER, fin -->

    <!--   ASIDE, INICIO-->
    <nav th:replace="~{fragments/aside_citas :: aside}"></nav>
    <!--   ASIDE, FIN-->



    <main id="main" class="main">

        <div class="pagetitle">
            <h1><strong>Horario de atención</strong></h1>
        </div><!-- End Page Title -->

        <section class="section">
            <div class="row">
                <div class="col-lg-12">

                    <div class="card">
                        <div class="card-body">
                            <div class="box-header with-border">
                                <div class="row mt-4">

                                    <div class="col-3 text-center fs-4">
                                        <label style="margin-bottom: 5px "  for="select-dia">Días</label>
                                        <select id="select-dia" class="form-select" aria-label="Default select example">
                                            <option value="Lunes">Lunes</option>
                                            <option value="Martes">Martes</option>
                                            <option value="Miercoles">Miercoles</option>
                                            <option value="Jueves">Jueves</option>
                                            <option value="Viernes">Viernes</option>
                                            <option value="Jueves">Jueves</option>
                                            <option value="Viernes">Viernes</option>
                                        </select>

                                    </div>

                                    <div class="col-4 text-center fs-4">
                                        <label style="margin-bottom: 5px "  for="inicio-dia">Inicio</label>
                                        <select id="inicio-dia" class="form-select" aria-label="Default select example">
                                            <option value="01:00">01:00</option>
                                            <option value="02:00">02:00</option>
                                            <option value="03:00">03:00</option>
                                            <option value="04:00">04:00</option>
                                            <option value="05:00">05:00</option>
                                            <option value="06:00">06:00</option>
                                            <option value="07:00">07:00</option>
                                            <option value="08:00">08:00</option>
                                            <option value="09:00">09:00</option>
                                            <option value="10:00">10:00</option>
                                            <option value="11:00">11:00</option>
                                            <option value="12:00">12:00</option>
                                        </select>

                                    </div>

                                    <div class="col-3 text-center fs-4">
                                        <label style="margin-bottom: 5px "  for="fin-dia">Fin</label>
                                        <select id="fin-dia" class="form-select" aria-label="Default select example">
                                            <option value="01:00">01:00</option>
                                            <option value="02:00">02:00</option>
                                            <option value="03:00">03:00</option>
                                            <option value="04:00">04:00</option>
                                            <option value="05:00">05:00</option>
                                            <option value="06:00">06:00</option>
                                            <option value="07:00">07:00</option>
                                            <option value="08:00">08:00</option>
                                            <option value="09:00">09:00</option>
                                            <option value="10:00">10:00</option>
                                            <option value="11:00">11:00</option>
                                            <option value="12:00">12:00</option>
                                        </select>

                                    </div>

                                    <div class="col-1 ">
                                        <button class="btn btn-link pull-right font-icon" type="button"
                                                tooltip-animation="false" uib-tooltip="Nuevo" tooltip-placement="top"
                                                ng-click="ctr.cambiarAccion(1)" ng-show="ctr.verAccion(0)">
                                            <i class="bx bxs-plus-circle text-green-light"></i>
                                        </button>

                                    </div>
                                </div>

                            </div>
                            <!-- Table with stripped rows -->
                            <table class="table table-striped bdr">
                                <thead class="bg-green-dark">
                                <tr>
                                    <th class="text-center" scope="col">#</th>
                                    <th class="text-center" scope="col">Días de atención</th>
                                    <th class="text-center" scope="col">Horario</th>
                                    <th class="text-center" scope="col">Acciones</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td class="text-center">Lunes</td>
                                    <td class="text-center">9:00-11:00 / 13:00-15:30</td>
                                    <td class="text-center">
                                        <a class="btn btn-link" type="button">
                                            <i class="bi bi-pencil text-warning"></i>
                                        </a>
                                        <a class="btn btn-link boton-estatus" type="button">
                                            <i class="bi bi-trash text-danger"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">1</th>
                                    <td class="text-center">Martes</td>
                                    <td class="text-center">9:00-11:00 / 13:00-15:30</td>
                                    <td class="text-center">
                                        <a class="btn btn-link" type="button">
                                            <i class="bi bi-pencil text-warning"></i>
                                        </a>
                                        <a class="btn btn-link boton-estatus" type="button">
                                            <i class="bi bi-trash text-danger"></i>
                                        </a>
                                    </td>
                                </tr>

                                <tr>
                                    <th scope="row">1</th>
                                    <td class="text-center">Viernes</td>
                                    <td class="text-center">9:00-11:00 / 13:00-15:30</td>
                                    <td class="text-center">
                                        <a class="btn btn-link" type="button">
                                            <i class="bi bi-pencil text-warning"></i>
                                        </a>
                                        <a class="btn btn-link boton-estatus" type="button">
                                            <i class="bi bi-trash text-danger"></i>
                                        </a>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                            <!-- End Table with stripped rows -->
                        </div>
                    </div>

                </div>
            </div>

        </section>

    </main>



</div>

<div th:replace="~{fragments/scrypt :: div}"></div>

</body>
</html>